<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="sample" parallel = "classes" thread-count="2">
    <parameter name="browser" value="chrome"></parameter>
    <parameter name="env" value="qa"></parameter>

    <test name="LambdaTest">
        <classes>
            <class name= "com.qa.tests.LambdaTest" />
        </classes>
    </test>

</suite>